body {
    background-color: #FFE1AA;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FFFEEF;
    height: 100px;
    font-size: 30px;
    border-bottom: 5px solid #E80000;
}


.ms_main_title {
    color: #E80000;
    font-weight: bold;
}

.table td {
    background-color: #FFC978;
}
.table th {
    background-color: #FFC978;
    color: #E80000;
}
.table img {
    width: 200px;
}
footer {
    background-color: #FFFEEF;
    height:80px;
}


